html,
body {
    font-size: 4px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.general__info {
    flex: 1;
}

.contras, .nombre__usuario {
    border-left: 0.5rem solid #e6ecec;
}

body {
    background: #f1f5f6;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.dropdown {
    background: none;
    border: none;
    color: #00a09b;
    padding: 0;
    transition: 0.25s;
}

i {
    transition: 0.25s;
}

.container__libros i:hover {
    transform: scale(1.2);
}

.contras:hover, .dropdown:hover {
    transform: scale(1.2);
}

.header__container { 
    background: white;
    display: flex;
    height: 102px;
}

nav ul {
    margin: 0rem;
    padding: 0rem;
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 10rem 8rem;
}

.books {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding-left: 20rem;
    padding-top: 10rem;
}

.navigation {
    border-bottom: 0.5rem solid #d7e1e1;
    border-top: 0.5rem solid #d7e1e1;
    display: flex;
    flex-flow: row;
    margin-left: 20rem;
    margin-top: 2rem;
    padding-right: 10rem;
    text-align: top;
}

.navigation ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.navigation ul .idioma1 {
    color: #00938e;
}

.navigation a{
    color: #a6a7a7;
    text-decoration: none;
}

.navigation li {
    color: #a6a7a7;
    display: inline-block;
    font-size: 5rem;
    padding-right: 8rem;
    transition: 0.25s;
}

.navigation i {
    padding: 0 4rem;
}

.navigation i:hover {
    color: #c78181;
    transform: scale(1.1);
}

.info__grado {
    display: flex;
    flex-direction: row;
    padding: 0rem 10rem 5rem 20rem;
}

.serway {
    padding-left: 10rem;
}

.info__grado button {
    background: none;
    border: none;
    font-size: 6rem;
    margin-top: 1rem;
    text-align: center;
}

.edit {
    color: #a0aaaa;
    padding-left: 6rem;
}

.delete {
    color: #c78181;
    padding-left: 4rem;
    margin-right: 60rem;
}

.info__grado .nombre__grado {
    color: #00938e;
    font-size: 8rem;
}

.info__grado input[type = "submit"] {
    border: 0;
    border-radius: 6rem;
    color: white;
    display: block;
    font-size: 4rem;
    font-weight: bold;
    margin: auto 3rem;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    padding: 3rem 2rem;
    width: 51rem
}

.agregar__categoria {
    background: #00c2be;
}

.agregar__libro {
    background: #00c265;
}

.agregar__paquete {
    color: #22ada8;
    font-size: 4rem;
    font-weight: bold;
    padding-top: 8rem;
    padding-left: 11rem;
    text-transform: uppercase;
}

.divisor {
    border-top: 0.5rem solid #f1f6f6;
    margin: 3rem 6rem 0 6rem;
}

.container1 {
    display: inline-flex;
    flex-direction: row;
    margin: 0rem;
    padding: 12rem 6rem 50rem 11rem;
}

.container2 {
    display: inline-flex;
    flex-direction: row;
}

.add {
    border: 0;
    border-radius: 50%;
    background: #00bcb7;
    color: white;
    font-size: 6rem;
    margin: 2rem 0 5rem 3rem;
    outline: none; 
    padding: 2rem;
    transform: scale(1, 0.8);
}

.container2 input[type = "text"] {
    border: 0.5rem solid #e3e9e9;
    border-radius: 6rem;
    background: #f1f6f6;
    color: #c0c0c0;
    display: block;
    font-size: 4rem;
    margin: 2rem 0 5rem 8rem;
    margin-bottom: 5rem;
    text-align: center;
    padding: 3rem auto;
    width: 48rem;
}

.container__libros {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.contras {
    color: #00c4c0;
    font-size: 5rem;
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    transition: 0.25s;
    text-transform: uppercase;
}

.info__grado input[value = "Agregar categoría"]:hover {
    background: white;
    border: 0.5rem solid #00c2be;
    color: #00c2be;
}

.info__grado input[value = "Agregar libro"]:hover {
    background: white;
    border: 0.5rem solid #00c265;
    color: #00c265;
}

.info__grado input[type = "submit"]:hover {
    transform: scale(1.2);
}

.nombre__colegio {
    color: #00a09b;
    display: inline-flex;
    font-size: 9rem;
    font-weight: bold;
    padding: 8rem 8rem 8rem 10rem;
}

.nombre__pagina {
    color: #d7d7d7;
    display: inline-flex;
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    font-weight: lighter;
    padding: 1rem;
}

.nombre__usuario {
    color: #00a09b;
    font-size: 6rem;
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    transition: 0.25s;
}

.nombres__grados {
    color: #747e7e;
    font-size: 4rem;
    padding: 4rem 11rem;
}

.nombres__grados:hover {
    color: #00a09b;
}

.seleccion__grados {
    background: white;
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0,0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 80rem;
}

.seleccion__grados a {
    text-decoration: none;
}

.titulo__grados {
    color: #e1e6e6;
    font-size: 3rem;
    font-weight: bold;
    padding-left: 11rem;
    padding-top: 12rem;
    padding-bottom: 2rem;
}

.book {  
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 0px rgba(0,0, 0, 0.5);
    display: block;
    flex-grow: 1;
    margin-bottom: 2rem;
    margin-left: 10rem;
    overflow: hidden;
    max-width: 226px;
    min-width: 226px;
}

.book.first-book {
    margin-left: 0;
}

.book-image {
    background-position: center;
    background-size: cover;
    height: 70rem;
}

.book-footer {
    background: white;
    display: flex;
    flex-flow: row;
    padding: 16px;
}

.book-title {
    color: #019C97;
    font-size: 3.25rem;
    font-weight: bold;
}

.book-size {
    color: #777777;
    font-size: 3rem;
}

.book-actions {
    bottom: 0;
    margin-left: auto;
    height: auto;
    padding-top: 1rem;
    width: auto;
}

.book-more {
    background: none;
    border: none;
}

.book i {
    color: #d6e1e1;
    font-size: 5rem;
}

.division {
    border-top: 1.5rem solid #00938e;
    margin: 0;
    margin-left: 20rem;
    margin-right: 214rem;
}